.row
  .experience.clearfix
    .col-md-2
      .experience-picture
    .col-md-8
      .experience-name
        = experience.name
      .experience-description
        = experience.description
    .col-md-2
      .experience-price
        = experience.price