- provide(:title, 'Home')
.center.hero-unit
  %h1 Welcome to the Tuxedio Home Page
  %h2
    We help you plan and book your travels.
  = link_to "Sign up now!", registration_choice_path, class: "btn btn-large btn-primary"
