- provide(:title, 'Home')
.navbar-right
- unless person_signed_in?
  - unless controller.controller_name == "sessions" or controller.controller_name == "registrations"
    .dropdown.pull-right.sign-in-link
      %a.btn.btn-large.btn-default.dropdown-toggle{"data-toggle" => "dropdown", href: new_person_session_path}
        Sign in
        %span.glyphicon.glyphicon-log-in
      %ul.dropdown-login.dropdown-menu.dropdown-menu-right
        = render 'layouts/sign_in_dropdown'
.site-wrapper

  .site-wrapper-inner

    .cover-container
      - flash.each do |key, value|
        %div{class: flash_class(key)}
          = value
      .inner.cover
        %h1.cover-heading tuxedio
        %h2.lead
          We help you plan and book awesome adventures while <br/> you get to focus on the fun part, traveling.
        - if ( !person_signed_in? and !vendor_signed_in? )
          = link_to "Sign up now!", registration_choice_path, class: "btn btn-large btn-primary"
          = link_to "Explore the site", explore_path, class: "btn btn-large btn-success"
