<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Tuxedio Home Page</h1>

  <h2>
    We help you plan and book your travels.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>