- provide(:title, 'Sign up')
.registration-options
  .col-md-5.col-md-offset-1
    .col-sm-12.well.form-box.sign-in-box
      .row
        %h1
          .text-center Create an account
          .small.text-center
            ="Planning your next adventure!"
          .center.top-buffer
            = link_to "Register Person", new_person_registration_path, class: "btn btn-large btn-primary"

  .col-md-5
    .col-sm-12.well.form-box.sign-in-box
      .row
        %h1
          .text-center Become a site vendor
          .small.text-center
            ="Offer activities on our site!"
          .center.top-buffer
            = link_to "Become a Business Vendor", new_vendor_registration_path, class: "btn btn-large btn-primary"
