- provide(:title, "Create a Trip")

%h1 Create a New Trip

.row
  .col-md-6
    = bootstrap_form_for(@trip, url: customers_trips_path) do |f|
      = render 'shared/error_messages', object: f.object

      = f.text_field :trip_name

      = f.submit "Create Trip", class: "btn btn-large btn-primary"
