.row.row-offcanvas.row-offcanvas-right
  .col-xs-12.col-sm-9

    /Cart toggle
    %p.pull-right.visible-xs
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", type: "button"} Toggle cart

    /Jumbotron
    .jumbotron
      %h1 What sounds good?
      %p Use this area to navigate our experiences, explore, and mess around until you create the perfect adventure. We'll take care of the hard stuff.

    /Experience wells
    .row
      - @experiences.first(9).each do |experience|
        =render "experiences/explore_experience", experience: experience

  /Experience cart
  #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{role: "navigation"}
    =render 'layouts/explore_shopping_cart', journey: @journey
