- provide(:title, 'Confirm details')

.col-sm-6.col-sm-offset-3.well.form-box
  .col-sm-12
    .row
      %h1
        .text-center
          =current_vendor.name
          .small
            %span.glyphicon.glyphicon-list
              Confirm details

    .row.top-buffer
      .col-md-8.col-md-offset-2
        %h5 Are these details correct?
        =bootstrap_form_for @vendor, :url => update_details_vendors_path, method: :put do |f|
          - @data.each do |key, value|
            - unless key == :coordinates or key == :sample_image
              = f.text_field key, hide_label: :true, value: value
          .center
            =f.submit "Update", class: "btn btn-success btn-md"
            =link_to "Don't Update",  update_details_vendors_path(:params => {vendor_accepted: false}), class: "btn btn-danger btn-md"


