- provide(:title, current_vendor.name)
.row
  %aside.span4
    %section
      %h1
        = current_vendor.name
  .span8
    %section
      =link_to 'Add an activity', '#', {:class => 'btn btn-lg btn-primary'}
