.row
  .activity.clearfix
    .col-md-2
      .activity-picture
    .col-md-8
      .activity-name
        = activity.name
      .activity-description
        = activity.description
    .col-md-2
      .activity-price
        = activity.price