@import "bootstrap/variables";
@import "bootstrap/mixins";


.activities{
  margin-top:20px;
}

.activity{
  background-color:#EEE;
  padding:20px;
  margin: 20px 0;
}
.activity-picture {
  padding:20px 0;
  img {
    border:4px solid #FFF;
    @include box-shadow(0 2px 4px rgba(0,0,0,.50));
  }
}

.activity-name{
  font-size:20px;
  font-weight:bold;
  margin-bottom:10px;
}
.activity-description{
  min-height:100px;
  background-color:#FFF;
}
.activity-price{
  text-align:center;
  font-weight:bold;
  font-size:1.5em;
  margin-bottom:20px;
}
.activity-edit{
  text-align: center;
}
.activity-info{
  margin-top:20px;
  .activity-name{
    font-size:30px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .activity-description{
    min-height:200px;
  }
  .activity-price{
    text-align:left;
    font-weight:bold;
    font-size:1.5em;
    margin-bottom:20px;
  }
  .activity-edit{
    text-align: center;
  }
}
.vendor-offer-info{
  .vendor-offer-title{
    font-size:20px;
    font-style:italic;
  }
  .vendor-offer-picture img{
    width:100%;
    height:auto;
  }
}