.explore-activity {
  min-height: 400px !important;
}

.explore-description{
  min-height: 100px !important;

}

.explore-name{
  min-height: 40px !important;
}

.affix{
   width: 243px;
   top: auto;
}
