@import "bootstrap/variables";
@import "bootstrap/mixins";
$theme-red: #fd1c15;
.person-picture {
  padding:20px 0;
  img {
    border:4px solid #FFF;
    @include box-shadow(0 2px 4px rgba(0,0,0,.50));
  }
}

.person-name{
  text-align:center;
  width:100%;
  border-top: 2px solid $theme-red;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  margin: 20px 0;
  h1{
    margin-top:0px
  }
}

.person-info{
  padding:20px;
  background-color: #fff !important;
  span{
    font-size:120%;
    font-weight:bold;
  }
  .person-location{
    margin-bottom:5px;
    font-size:120%;
    font-weight:bold;
  }
  .person-email{
    margin-bottom:5px;
  }
  .person-bio {
    p{
      min-height:150px;
      border-radius:5px !important;
      background-color:#eee
    }
  }
}

.itinerary{
  padding:80px;
  margin-top:20px;
  h2{
    font-weight:bold;
    font-size:2em;
    padding-bottom:10px;
    border-bottom: $theme-red 4px solid;
  }

  .experience{
    background-color:#FFF;
    padding:10px;
    margin: 10px 0;
    @include box-shadow(0 2px 4px rgba(0,0,0,.50));
    .experience-picture{
      background:none !important;
      img{
        height:120px;
        width:auto;
        border: 1px solid #000;
        @include box-shadow(0 2px 4px rgba(0,0,0,.50));
      }
    }
    .experience-name{
      font-size:20px;
      font-weight:bold;
      margin-bottom:10px;
    }
    .experience-description{
      min-height:50px;
    }
    .experience-price{
      text-align:center;
      font-weight:bold;
      font-size:1.5em;
      margin-bottom:20px;
    }

  }
}

