.col-sm-6.col-md-4
  .well.explore-activity
    .thumbnail
      =image_tag "https://www.ocoos.com/images/product/509414141eaa4_skydive01.jpg"
    .caption
      %h4.center-block= name
      .explore-description
        = desc
      %p=  "$" + price.to_s
      %center=link_to 'Add to trip',  customer_signed_in? ? '#' : customer_session_path, class: 'btn btn-primary'
