.col-sm-6.col-md-4
  .well.explore-activity
    .thumbnail
      =image_tag "https://www.ocoos.com/images/product/509414141eaa4_skydive01.jpg"
    .caption
      %h4.explore-name= name
      .explore-description
        %p= desc
      %p=  '$' + price.to_s + '0'
      %center=link_to 'Add to trip',  customer_signed_in? ?  new_trips_itinerary_items_path(activity_id: id) : customer_session_path, class: 'btn btn-primary', test: "hello"
