.row.row-offcanvas.row-offcanvas-right
  .col-xs-12.col-sm-9

    /Cart toggle
    %p.pull-right.visible-xs
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", type: "button"} Toggle cart

    /Jumbotron
    .jumbotron
      %h1 What sounds good?
      %p Use this area to navigate our activities, explore, and mess around until you create the perfect trip. We'll take care of the hard stuff.

    /Activity wells
    .row
      - if @activities.count >= 9
        - @activities.first(9) do |activity|
          =render "activities/explore_activity", activity: activity
      - else
        - @activities.each do |activity|
          =render "activities/explore_activity", activity: activity

  /Activity cart
  - if customer_signed_in?
    #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{role: "navigation"}
      =render 'layouts/explore_shopping_cart', itinerary: @itinerary
