- provide(:title, "Explore")

.row
  .col-md-4.col-md-offset-4
    .page-header
      %h1.center
        Explore
        .small
          %span.glyphicon.glyphicon-glass
          See what's happening around town.

.row
  =9.times do |i|
    =render "activities/explore_activity", name: @act_arr[i].name, desc: @act_arr[i].description



