.list-group
  .list-group-item.active
    %h4.center
      %span.glyphicon.glyphicon-shopping-cart
      Cart
  .list-group-item
  .list-group-item
  .list-group-item
  .list-group-item
  .list-group-item
