.list-group.affix
  .list-group-item.active
    %h4.center
      %span.glyphicon.glyphicon-shopping-cart
      Trip items
  -itinerary.each do |item|
    .list-group-item
      %h4.list-group-item-header
        =Activity.find(item.activity_id).name
      %p.list-group-item-header-text
        - time =ActivityTime.find(item.activity_time_id).start_time
        = time.to_formatted_s(:long)
      Remove
      = check_box 'item', 'remove'
  .top-buffer
    = link_to 'Update trip', 'Update trip', class: 'btn btn-small btn-block btn-success'

