.list-group.affix
  .list-group-item.active
    %h4.center
      %span.glyphicon.glyphicon-shopping-cart
      Trip items
  -itinerary.each do |item|
    .list-group-item
      %h5.list-group-item-header
        = item.activity.name
      %p.list-group-item-header-text
        - time = item.activity_time.start_time
        .small= time.to_formatted_s(:long)
      = check_box 'item', 'remove'
      Delete
  .top-buffer
    = link_to 'Update trip', '#', class: 'btn btn-sm btn-block btn-success'

